{{ if and (eq .Type "note") (eq .Section "notes") }}
<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }} 
        {{ block "main" . }}{{ end }} 
        {{ partial "footer.html" . }} 
        {{ partial "custom_footer.html" . }}
    </body>
</html>
{{else}}
<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{ partial "microblog_head.html" . }}
        <meta
            http-equiv="refresh"
            content="0; url=https://harper.blog/notes/"
        />
    </head>
    <body>
        Redirecting to https://harper.blog/notes/
    </body>
</html>
{{ end }}
