<hr />
<footer class="site-footer">
    <div class="wrapper">
        {{ if templates.Exists "partials/microhook-footer.html" }} {{ partial
        "microhook-footer.html" . }} {{ else }}
        <p class="custom_footer">{{ partial "custom_footer.html" . }}</p>
        {{ end }}
        <p class="attribution custom_footer">
            {{ $copyrightName := .Site.Params.copyright_name | default .Site.Author.name }}
            {{ $hostingProvider := .Site.Params.hosting_provider | default "Micro.blog" }}
            {{ $hostingUrl := .Site.Params.hosting_url | default "https://micro.blog" }}
            &copy; {{ $copyrightName }}. Hosted by
            <a href="{{ $hostingUrl }}">{{ $hostingProvider }}</a>.
        </p>
    </div>
</footer>
