{{ $redirectUrl := .Site.Params.default_redirect_url | default (printf "%snotes/" .Site.BaseURL) }}
<header>
    <div>
        {{ $avatarUrl := .Site.Params.header_avatar | default .Site.Author.avatar }}
        {{ if $avatarUrl }}
        <img src="{{ $avatarUrl }}" alt="{{ $.Site.Title }} avatar" />
        {{ end }}
        <h1 style="margin: 0;"><a href="{{ $redirectUrl }}">{{ $.Site.Title }}</a></h1>
    </div>
    {{ with .Site.Params.navigation_links }}
    <nav>
        {{ range $index, $link := . }} {{ if $index }} / {{ end }} {{ if
        $link.url }}
        <a href="{{ $link.url }}">{{ $link.text }}</a>
        {{ else }} {{ $link.text }} {{ end }} {{ end }}
    </nav>
    {{ end }}
</header>
